# Dependencies
node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# Environment files
.env*
!.env.example

# Compiled Probot app
dist

# Typescript declaration files
typings/

# Testing related directories
coverage/

# Serverless
.serverless

# Production keys
*.pem
